# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
SP-LAB-JAVA/out/production/SP-LAB-JAVA/
SP-LAB-JAVA/out/production/SP-LAB-JAVA
SP-LAB-JAVA/out/production/
/SP-LAB-JAVA/out/
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/AlignCenterStrategy.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/AlignLeftStrategy.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/AlignRightStrategy.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/AlignStrategy.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/Author.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/Book.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/Context.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/Element.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/Image.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/ImageProxy.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/Main.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/Paragraph.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/Picture.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/Section.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/Table.class
/SP-LAB-JAVA/out/production/SP-LAB-JAVA/TableOfContents.class
/SP-LAB-JAVA/out/*
